<!DOCTYPE html>
<html>
<head>
    <title>Add Writer</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Add Writer</h1>
    <form action="/add_writer" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="task">Task:</label><br>
        <input type="text" id="task" name="task"><br>
        <label for="topic">Topic:</label><br>
        <input type="text" id="topic" name="topic"><br>
        <label for="style">Style:</label><br>
        <input type="text" id="style" name="style"><br>
        <label for="audience">Audience:</label><br>
        <input type="text" id="audience" name="audience"><br>
        <label for="length">Length:</label><br>
        <input type="text" id="length" name="length"><br>
        <label for="format">Format:</label><br>
        <input type="text" id="format" name="format"><br>
        <label for="additional_information">Additional Information:</label><br>
        <input type="text" id="additional_information" name="additional_information"><br>
        <input type="submit" value="Add Writer">
    </form>
</body>
</html>
