<!DOCTYPE html>
<html>
<head>
    <title>Edit Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Edit Project</h1>
    <form method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ project.Title }}"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" value="{{ project.Description }}"><br>
        <label for="initial_prompt">Initial Prompt:</label><br>
        <textarea id="initial_prompt" name="initial_prompt">{{ project.InitialPrompt }}</textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
