<!DOCTYPE html>
<html>
<head>
    <title>Ebook Wizard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body {
            background-color: #333;
            color: #fff;
            font-family: Arial, sans-serif;
        }
        .header {
            padding: 10px;
            text-align: center;
            background: #1abc9c;
            color: white;
            font-size: 30px;
        }
        .logout {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    </style>
</head>
<body>
    <div class="header">
        Ebook Wizard
        <a href="/logout" class="logout button">Logout</a>
    </div>
</body>
</html>
