<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Projects Page</h1>
    <button onclick="location.href='add_project'">Add Project</button>
    <table style="width:100%; border: 1px solid #ddd; margin-top: 20px; border-collapse: collapse;">
        <tr style="background-color: #f2f2f2;">
            <th style="padding: 15px; text-align: left;">Title</th>
            <th style="padding: 15px; text-align: left;">Description</th>
            <th style="padding: 15px; text-align: left;">Author Role</th>
            <th style="padding: 15px; text-align: left;">Author Tone</th>
            <th style="padding: 15px; text-align: left;">Initial Prompt</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td style="padding: 15px; text-align: left;">{{ project.Title }}</td>
            <td style="padding: 15px; text-align: left;">{{ project.Description }}</td>
            <td style="padding: 15px; text-align: left;">{{ project.AuthorRole }}</td>
            <td style="padding: 15px; text-align: left;">{{ project.AuthorTone }}</td>
            <td style="padding: 15px; text-align: left;">{{ project.InitialPrompt }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
</html>
</html>
