<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Projects Page</h1>
    <button onclick="location.href='add_project'">Add Project</button>
    <table style="width:100%; border: 1px solid white; margin-top: 20px;">
        <tr style="background-color: #1abc9c; color: white;">
            <th>Title</th>
            <th>Description</th>
            <th>Author Role</th>
            <th>Author Tone</th>
            <th>Initial Prompt</th>
        </tr>
        {% for project in projects %}
        <tr style="border: 1px solid white;">
            <td>{{ project.Title }}</td>
            <td>{{ project.Description }}</td>
            <td>{{ project.AuthorRole }}</td>
            <td>{{ project.AuthorTone }}</td>
            <td>{{ project.InitialPrompt }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
</html>
</html>
