<!DOCTYPE html>
<html>
<head>
    <title>Writers</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Writers Page</h1>
    <button onclick="location.href='add_writer'">Add Writer</button>
    <table style="width:100%; border: 1px solid #ddd; margin-top: 20px; border-collapse: collapse;">
        <tr style="background-color: #008000;">
            <th style="padding: 15px; text-align: left;">Writer Name</th>
            <th style="padding: 15px; text-align: left;">Task</th>
            <th style="padding: 15px; text-align: left;">Topic</th>
            <th style="padding: 15px; text-align: left;">Style</th>
            <th style="padding: 15px; text-align: left;">Audience</th>
            <th style="padding: 15px; text-align: left;">Length</th>
            <th style="padding: 15px; text-align: left;">Format</th>
            <th style="padding: 15px; text-align: left;">Additional Information</th>
            <th style="padding: 15px; text-align: left;">Actions</th>
        </tr>
        {% for writer in writers %}
        <tr>
            <td style="padding: 15px; text-align: left;">{{ writer.writerName }}</td>
            <td style="padding: 15px; text-align: left;">{{ writer.Task }}</td>
            <td style="padding: 15px; text-align: left;">{{ writer.Topic }}</td>
            <td style="padding: 15px; text-align: left;">{{ writer.Style }}</td>
            <td style="padding: 15px; text-align: left;">{{ writer.Audience }}</td>
            <td style="padding: 15px; text-align: left;">{{ writer.Length }}</td>
            <td style="padding: 15px; text-align: left;">{{ writer.Format }}</td>
            <td style="padding: 15px; text-align: left;">{{ writer.AdditionalInformation }}</td>
            <td style="padding: 15px; text-align: left;">
        
        <form action="{{ url_for('edit_writer', WriterID=writer.WriterID) }}" method="get" style="display: inline;">
            <button type="submit" class="edit-button">Edit</button>
        </form>
        <form action="/delete_writer/{{ writer.WriterID }}" method="post" style="display: inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="delete-button">Delete</button>
        </form>
    </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
